div{
    text-align: center;
}
main{
    text-align: center;
}
header{
    color: blue;
    text-shadow: black;
}
p1{
    color: green;
    text-shadow:black;
}
button{
    background: black;
    color: white;
}

